In [9]:
fp = open('foo.txt','r')
content = fp.read()
print(content)
fp.close()

welcome world

In [8]:
fp = open('foo.txt','w')
fp.write('welcome world')
fp.close()
fp = open('foo.txt','r')
content1 = fp.read(3)
content2 = fp.read()
print(content1)
print(content2)

wel
come world

In [2]:
import re
pattern='for'
text='information'
if re.search(pattern, text):
    print('Yes')

    
re.split(r'[aeiou]', 'abcdefghij')

Yes

['', 'bcd', 'fgh', 'j']

In [1]:
import io
import re

zenPython = ''' 
The Zen of Python, by Tim Peters 

Beautiful is better than ugly. 
Explicit is better than implicit. 
Simple is better than complex. 
Complex is better than complicated. 
Flat is better than nested.
Sparse is better than dense. 
Readability counts. 
Special cases aren't special enough to break the rules. 
Although practicality beats purity. 
Errors should never pass silently. 
Unless explicitly silenced. 
In the face of ambiguity, refuse the temptation to guess. 
There should be one-- and preferably only one --obvious way to do it. 
Although that way may not be obvious at first unless you're Dutch. 
Now is better than never. 
Although never is often better than *right* now. 
If the implementation is hard to explain, it's a bad idea. 
If the implementation is easy to explain, it may be a good idea.
'''

fp = io.StringIO(zenPython)

zenlines =  fp.readlines()
zen = []
for i in range(5):
    zen.append(zenlines[i])




zenlines = [line.strip() for line in zenlines]


s = 'Although never is often better than *right* now.'
portions= []
for i in zenlines:
    result1 = re.search('\*(.*)\*', i)
    result2 = re.search('-- (.*)\ --', i)

    
    if result1:
        portions.append(result1.group(1))
    if result2:
        portions.append(result2.group(1))
        

print(portions)

['and preferably only one', 'right']

In [9]:
# Complete the function below.
def subst(pattern, replace_str, string):
    return 1

addr = ['100 NORTH MAIN ROAD',
            '100 BROAD ROAD APT.',
            'SAROJINI DEVI ROAD',
            'BROAD AVENUE ROAD']
res = [sub.replace('ROAD', 'RD.') for sub in addr] 
res = [sub.replace('BRD.', 'BROAD') for sub in res] 


print(res)

['100 NORTH MAIN RD.', '100 BROAD RD. APT.', 'SAROJINI DEVI RD.', 'BROAD AVENUE RD.']

In [12]:
import sqlite3
# establishing  a database connection
con = sqlite3.connect('TEST.db')
# preparing a cursor object
cursor = con.cursor()
# preparing sql statements
sql1 = 'DROP TABLE IF EXISTS EMPLOYEE'
sql2 = '''

       CREATE TABLE EMPLOYEE (
       EMPID INT(6) NOT NULL,
       NAME CHAR(20) NOT NULL,
       AGE INT,
       SEX CHAR(1),
       INCOME FLOAT
       )
      '''

# executing sql statements
cursor.execute(sql1)
cursor.execute(sql2)

# closing the connection
con.close()


#Single rows are inserted using execute and multiple rows using executeMany method of created cursor object.

In [14]:
import sqlite3
# establishing the connection
con = sqlite3.connect('TEST.db')
# preparing a cursor object
cursor = con.cursor()
# preparing sql statement
rec = (456789, 'Frodo', 45, 'M', 100000.00)
sql = '''
      INSERT INTO EMPLOYEE VALUES ( ?, ?, ?, ?, ?)
      '''
# executing sql statement using try ... except blocks

try:

    cursor.execute(sql, rec)

    con.commit()

except Exception as e:

    print("Error Message :", str(e))

    con.rollback()



# closing the database connection

con.close()

In [15]:
import sqlite3
con = sqlite3.connect('TEST.db')
cursor = con.cursor()

# preparing sql statement

records = [

    (123456, 'John', 25, 'M', 50000.00),

    (234651, 'Juli', 35, 'F', 75000.00),

    (345121, 'Fred', 48, 'M', 125000.00),

    (562412, 'Rosy', 28, 'F', 52000.00)

    ]

sql = '''

       INSERT INTO EMPLOYEE VALUES ( ?, ?, ?, ?, ?)

      '''

# executing sql statement using try ... except blocks

try:

    cursor.executemany(sql, records)

    con.commit()

except Exception as e:

    print("Error Message :", str(e))

    con.rollback()



# closing the database connection

con.close()

In [ ]:
'''
fetchone: It retrieves one record at a time in the form of a tuple.

fetchall: It retrieves all fetched records at a point in the form of tuple of tuples.

'''

In [16]:
import sqlite3
# establishing the connection
con = sqlite3.connect('TEST.db')
# preparing a cursor object
cursor = con.cursor()
# preparing sql statement
sql = '''
       SELECT * FROM EMPLOYEE
      '''
# executing the sql statement using `try ... except`
try:
    cursor.execute(sql)
except:
    print('Unable to fetch data.')
# fetching the records

records = cursor.fetchall()



# Displaying the records

for record in records:

    print(record)



# closing the connection

con.close()

(456789, 'Frodo', 45, 'M', 100000.0)
(123456, 'John', 25, 'M', 50000.0)
(234651, 'Juli', 35, 'F', 75000.0)
(345121, 'Fred', 48, 'M', 125000.0)
(562412, 'Rosy', 28, 'F', 52000.0)

In [ ]:
'''
An object-relational mapper (ORM) is a library that automates the transfer of data stored in relational database tables into objects that are adopted in application code.

ORMs offer a high-level abstraction upon a relational database, which permits a developer to write Python code rather than SQL to create, read, update and delete data and schemas in their database.

Consider the sample SQL statement used to retrieve employees whose income is 10,000.00.

SELECT * FROM EMPLOYEE WHERE INCOME=10000.00

The equivalent Django ORM query is

emps = Employee.objects.filter(income=10000.00)

The above code is written in Python and easy to read.

Such an ability to write Python code instead of SQL speeds up web application development.


'''

In [ ]:
#DB_Test

#Test_1
conn = sqlite3.connect('SAMPLE.db')
    #create connection cursor
    cursor = conn.cursor()

    #create table ITEMS using the cursor
    sql1 = '''

       CREATE TABLE ITEMS (
       item_id INT(6) NOT NULL,
       item_name CHAR(20) NOT NULL,
       item_description CHAR(50),
       item_category CHAR(50),
       quantity_in_stock INT
       )
      '''

    #commit connection 
    conn.commit()

    #close connection
    conn.close()

In [ ]:
#DB_Test

#Test_2

conn = sqlite3.connect('SAMPLE.db')
    cursor = conn.cursor()

    cursor.execute("drop table if exists ITEMS")
    
    sql_statement = '''CREATE TABLE ITEMS
    (item_id integer not null, item_name varchar(300), 
    item_description text, item_category text, 
    quantity_in_stock integer)'''
    
    cursor.execute(sql_statement)

    items = [(101, 'Nik D300', 'Nik D300', 'DSLR Camera', 3),
             (102, 'Can 1300', 'Can 1300', 'DSLR Camera', 5),
             (103, 'gPhone 13S', 'gPhone 13S', 'Mobile', 10),
             (104, 'Mic canvas', 'Mic canvas', 'Tab', 5),
             (105, 'SnDisk 10T', 'SnDisk 10T', 'Hard Drive', 1)
             ]
  
    #Add code to insert records to ITEM table
    sql = '''

       INSERT INTO ITEMS VALUES ( ?, ?, ?, ?, ?)

      '''
    try:
        cursor.executemany(sql, items)
        conn.commit()
    except Exception:
        print("Error Message :", Exception)
        conn.rollback()
    try:    
        cursor.execute("select * from ITEMS")
    except:
        return 'Unable to perform the transaction.'
    rowout=[]     
    for row in cursor.fetchall():
        rowout.append(row)
    return rowout    
    conn.close()

In [6]:
#DB_Test

#Test_3

    conn = sqlite3.connect('SAMPLE.db')
    cursor = conn.cursor()

    cursor.execute("drop table if exists ITEMS")
    
    sql_statement = '''CREATE TABLE ITEMS
    (item_id integer not null, item_name varchar(300), 
    item_description text, item_category text, 
    quantity_in_stock integer)'''
    
    cursor.execute(sql_statement)

    items = [(101, 'Nik D300', 'Nik D300', 'DSLR Camera', 3),
             (102, 'Can 1300', 'Can 1300', 'DSLR Camera', 5),
             (103, 'gPhone 13S', 'gPhone 13S', 'Mobile', 10),
             (104, 'Mic canvas', 'Mic canvas', 'Tab', 5),
             (105, 'SnDisk 10T', 'SnDisk 10T', 'Hard Drive', 1)
             ]
  
    try:
        cursor.executemany("Insert into ITEMS values (?,?,?,?,?)", items)
        conn.commit()
        #Add code to select items here
        cursor.execute("select * from ITEMS where item_id < 103")
    except:
        return 'Unable to perform the transaction.'
    rowout=[]     
    for row in cursor.fetchall():
        rowout.append(row)
    return rowout    
    conn.close()

In [8]:
#DB_Test

#Test_4


import sqlite3


conn = sqlite3.connect('SAMPLE.db')
cursor = conn.cursor()
cursor.execute("drop table if exists ITEMS")
    
sql_statement = '''CREATE TABLE ITEMS
    (item_id integer not null, item_name varchar(300), 
    item_description text, item_category text, 
    quantity_in_stock integer)'''
    
cursor.execute(sql_statement)
    
items = [(101, 'Nik D300', 'Nik D300', 'DSLR Camera', 3),
             (102, 'Can 1300', 'Can 1300', 'DSLR Camera', 5),
             (103, 'gPhone 13S', 'gPhone 13S', 'Mobile', 10),
             (104, 'Mic canvas', 'Mic canvas', 'Tab', 5),
             (105, 'SnDisk 10T', 'SnDisk 10T', 'Hard Drive', 1)
             ]
try:
    cursor.executemany("Insert into ITEMS values (?,?,?,?,?)", items)

        #Add code for updating quantity_in_stock
    cursor.execute("update ITEMS set quantity_in_stock = 2 where  item_id = 101")
    cursor.execute("update ITEMS set quantity_in_stock = 4 where  item_id = 103")
    cursor.execute("update ITEMS set quantity_in_stock = 0 where  item_id = 105")
#     cursor.execute("UPDATE ITEMS SET quantity_in_stock = 2,4,0 where item_id = 101,103,105")
    cursor.execute("select item_id,quantity_in_stock from ITEMS")
except:
        'Unable to perform the transaction.'
rowout=[]    
for row in cursor.fetchall():
    rowout.append(row)
print(rowout)    
conn.close()

[(101, 2), (102, 5), (103, 4), (104, 5), (105, 0)]

In [12]:
#DB_Test

#Test_5
import sqlite3

conn = sqlite3.connect('SAMPLE.db')
cursor = conn.cursor()

cursor.execute("drop table if exists ITEMS")
    
sql_statement = '''CREATE TABLE ITEMS
    (item_id integer not null, item_name varchar(300), 
    item_description text, item_category text, 
    quantity_in_stock integer)'''
    
cursor.execute(sql_statement)

items = [(101, 'Nik D300', 'Nik D300', 'DSLR Camera', 3),
             (102, 'Can 1300', 'Can 1300', 'DSLR Camera', 5),
             (103, 'gPhone 13S', 'gPhone 13S', 'Mobile', 10),
             (104, 'Mic canvas', 'Mic canvas', 'Tab', 5),
             (105, 'SnDisk 10T', 'SnDisk 10T', 'Hard Drive', 1)
             ]
  
try:
    cursor.executemany("Insert into ITEMS values (?,?,?,?,?)", items)
    cursor.executemany("update ITEMS set quantity_in_stock = ? where item_id = ?",
                       [(4, 103),
                        (2, 101),
                        (0, 105)])
    #Add code below to delete items
    cursor.execute('delete from ITEMS where item_id=105')
    cursor.execute("select item_id from ITEMS")
except:
     'Unable to perform the transaction.'
rowout=[]     
for row in cursor.fetchall():
    rowout.append(row)
print(rowout)    
conn.close()

[(101,), (102,), (103,), (104,)]

In [13]:
#Higher Order function

'''
A Higher Order function is a function, which is capable of doing any one of the following things:

>It can be functioned as a data and be assigned to a variable.

>It can accept any other function as an argument.

>It can return a function as its result.

The ability to build Higher order functions, allows a programmer to create Closures, which in turn are used to create Decorators.

'''

def greet():
    return 'Hello Everyone!'
print(greet())
wish = greet        # 'greet' function assigned to variable 'wish'
print(type(wish))   
print(wish())

Hello Everyone!
<class 'function'>
Hello Everyone!

In [14]:
def add(x, y):
    return x + y
def sub(x, y):
    return x - y
def prod(x, y):
    return x * y
def do(func, x, y):
    return func(x, y)
print(do(add, 12, 4))  # 'add' as arg
print(do(sub, 12, 4))  # 'sub' as arg
print(do(prod, 12, 4))  # 'prod' as arg

16
8
48

In [15]:

def outer():

    def inner():

        s = 'Hello world!'

        return s            

        

    return inner()    



print(outer())

Hello world!

In [16]:
def outer():

    def inner():

        s = 'Hello world!'

        return s            

        

    return inner   # Removed '()' to return 'inner' function itself

    

print(outer()) #returns 'inner' function

func = outer() 

print(type(func))

print(func()) # calling 'inner' function

<function outer.<locals>.inner at 0x10d0bd950>
<class 'function'>
Hello world!

In [17]:
#Closure
'''
In simplest terms, a Closure is a function returned by a higher order function, whose return value depends on the data associated with the higher order function.
'''
def multiple_of(x):
    def multiple(y):
        return x*y
    return multiple
c1 = multiple_of(5)  # 'c1' is a closure
c2 = multiple_of(6)  # 'c2' is a closure
print(c1(4))
print(c2(4))

20
24

In [18]:
def outer(x, y):

    def inner1():
        return x+y

    def inner2(z):
        return inner1() + z

    return inner2


f = outer(10, 25)

print(f(15))

50

In [19]:
def f(x):
    return 3*x

def g(x):
    return 4*x

print(f(g(2)))

24

In [7]:
#Higher Order function Test1:

def detector(element):

    def isIn(sequence):
        for i in sequence:
            if(i == element):
                return True
        else:
            return False
        

    return isIn


detect30 = detector(30)
detect45 = detector(45)
print(detect30([2,30,45,6]))
print(detect45([2,30,45,6]))
print('--------------------')
print(detect30([8,30,4,6]))
print(detect45([8,30,4,6]))
print('--------------------')
print(detect30([8,31,45,6]))
print(detect45([8,31,45,6]))
print('--------------------')
print(detect30([8,3,4,6,9,4,5,0,1,445,300]))
print(detect45([8,3,4,6,9,4,5,0,1,445,300]))

True
True
--------------------
True
False
--------------------
False
True
--------------------
False
False

In [ ]:
#Higher Order function Test2:

def factory(n=0):

    def current():
        return n

    def counter():
        n = current()
        n += 1
        return n

    return current, counter

f_current, f_counter = factory(int(input()))